/**
 * Brand Colors
 * Do not use "--brand-colors" in your code
 * Instead use the "--color-" variables to ensure
 * theme compatible styles
 */

:root {
  /* Grey */
  --brand-colors-grey-100: #dadce5;
  --brand-colors-grey-200: #b7bbc8;
  --brand-colors-grey-300: #9ca1af;
  --brand-colors-grey-400: #858b9a;
  --brand-colors-grey-500: #686e7d;
  --brand-colors-grey-600: #4b505c;
  --brand-colors-grey-700: #31333a;
  --brand-colors-grey-800: #222325;
  --brand-colors-grey-900: #121314;
  --brand-colors-grey-1000: #000000;
  --brand-colors-grey-050: #f3f5f9;
  --brand-colors-grey-000: #ffffff;
  --brand-colors-grey-025: #f7f9fc;
  /* Blue */
  --brand-colors-blue-100: #d6dbff;
  --brand-colors-blue-200: #adb6fe;
  --brand-colors-blue-300: #8b99ff;
  --brand-colors-blue-400: #6f7eff;
  --brand-colors-blue-500: #4459ff;
  --brand-colors-blue-600: #2c3dc5;
  --brand-colors-blue-700: #1c277f;
  --brand-colors-blue-800: #131b59;
  --brand-colors-blue-900: #0b0f32;
  --brand-colors-blue-050: #f4f5ff;
  --brand-colors-blue-025: #f8f9ff;
  /* Green */
  --brand-colors-green-100: #c1e6c9;
  --brand-colors-green-200: #80cb91;
  --brand-colors-green-300: #4cb564;
  --brand-colors-green-400: #279f41;
  --brand-colors-green-500: #1c7e33;
  --brand-colors-green-600: #145d25;
  --brand-colors-green-700: #0d3b18;
  --brand-colors-green-800: #092912;
  --brand-colors-green-900: #051709;
  --brand-colors-green-050: #ebf7ee;
  --brand-colors-green-025: #f1faf4;
  /* Red */
  --brand-colors-red-100: #ffd2d5;
  --brand-colors-red-200: #ffa1aa;
  --brand-colors-red-300: #ff7584;
  --brand-colors-red-400: #f74d5e;
  --brand-colors-red-500: #ca3542;
  --brand-colors-red-600: #952731;
  --brand-colors-red-700: #611a20;
  --brand-colors-red-800: #431216;
  --brand-colors-red-900: #3b0f13;
  --brand-colors-red-050: #fff2f3;
  --brand-colors-red-025: #fff6f7;
  /* Yellow */
  --brand-colors-yellow-100: #ffd957;
  --brand-colors-yellow-200: #f0b034;
  --brand-colors-yellow-300: #e18f01;
  --brand-colors-yellow-400: #c37b02;
  --brand-colors-yellow-500: #9a6300;
  --brand-colors-yellow-600: #714802;
  --brand-colors-yellow-700: #482d01;
  --brand-colors-yellow-800: #321f00;
  --brand-colors-yellow-900: #1c1100;
  --brand-colors-yellow-050: #fff5d5;
  --brand-colors-yellow-025: #fff9e6;
  /* Orange */
  --brand-colors-orange-100: #ffd4c1;
  --brand-colors-orange-200: #ffa47c;
  --brand-colors-orange-300: #ff7940;
  --brand-colors-orange-400: #f35714;
  --brand-colors-orange-500: #c3420d;
  --brand-colors-orange-600: #932d06;
  --brand-colors-orange-700: #631800;
  --brand-colors-orange-800: #451100;
  --brand-colors-orange-900: #280a00;
  --brand-colors-orange-050: #fff0ea;
  --brand-colors-orange-025: #fff8f5;
  /* Purple */
  --brand-colors-purple-100: #efd2ff;
  --brand-colors-purple-200: #dfa4ff;
  --brand-colors-purple-300: #d27dff;
  --brand-colors-purple-400: #b864f5;
  --brand-colors-purple-500: #8f44e4;
  --brand-colors-purple-600: #6c2ab2;
  --brand-colors-purple-700: #6c2ab2;
  --brand-colors-purple-800: #380658;
  --brand-colors-purple-900: #280a00;
  --brand-colors-purple-050: #fbf2ff;
  --brand-colors-purple-025: #fcf6ff;
  /* Lime */
  --brand-colors-lime-100: #b8ef4a;
  --brand-colors-lime-200: #95ca45;
  --brand-colors-lime-300: #7ab040;
  --brand-colors-lime-400: #64993d;
  --brand-colors-lime-500: #457a39;
  --brand-colors-lime-600: #275b35;
  --brand-colors-lime-700: #093a31;
  --brand-colors-lime-800: #012826;
  --brand-colors-lime-900: #011515;
  --brand-colors-lime-025: #effed9;
  --brand-colors-lime-050: #e3febd;
  /* White */
  --brand-colors-white: #ffffff;
  /* Black */
  --brand-colors-black: #000000;
}
