:root {
  --brand-colors-grey-grey030: #fafbfc;
  --brand-colors-grey-grey040: #f2f4f6;
  --brand-colors-grey-grey750: #2e3339;
  --brand-colors-blue-blue000: #eaf6ff;
  --brand-colors-green-green000: #f3fcf5;
  --brand-colors-red-red000: #fcf2f3;
  --brand-colors-yellow-yellow000: #fffdf8;
  --brand-colors-orange-orange000: #fef5ef;
  --brand-colors-violet-violet300: #cfb5f0;
  --brand-colors-white-white010: #fcfcfc;
}
