/*
 * Dark Theme Colors
 * Use these css variables in your code.
 * This will insure theme compatibility
 */

:root,
 [data-theme='dark'] {
   /* 
   * Background
   */
   /* For default neutral backgrounds */
   --color-background-default: var(--brand-colors-grey-grey800);
   /* For "hover" states that use background-default */
   --color-background-default-hover: #313235;
   /* For "pressed" states that use background-alternative */
   --color-background-default-pressed: #3f4145;
   /* For secondary neutral backgrounds */
   --color-background-alternative: var(--brand-colors-grey-grey900);
   /* For "hover" states that use background-alternative */
   --color-background-alternative-hover: #1f2123;
   /* For "pressed" states that use background-alternative */
   --color-background-alternative-pressed: #2e3033;
   /* For "hover" state that use no background fill */
   --color-background-hover: #ffffff0f;
   /* For "pressed" state that use no background fill */
   --color-background-pressed: #ffffff1f;

   /* 
   * Text
   */
   /* For default neutral text */
   --color-text-default: var(--brand-colors-grey-grey000);
   /* For softer contrast neutral text */
   --color-text-alternative: var(--brand-colors-grey-grey200);
   /* For the softest contrast neutral text (not accessible) */
   --color-text-muted: var(--brand-colors-grey-grey400);

   /* 
   * Icon
   */
   /* For default neutral icons */
   --color-icon-default: var(--color-text-default);
   /* For softer neutral icons */
   --color-icon-alternative: var(--text-alternative);
   /* For the weakest contrast neutral icons (not accessible) */
   --color-icon-muted: var(--color-text-muted);

   /* 
   * Border
   */
   /* For soft contrast neutral border */
   --color-border-default: var(--brand-colors-grey-grey400);
   /* For the weakest contrast neutral border */
   --color-border-muted: #858b9a33;

   /* 
   * Overlay
   */
   /* For the default shade of screen */
   --color-overlay-default: #00000066;
   /* For a stronger shade of screen */
   --color-overlay-alternative: #000000cc;

   /* 
   * Primary
   */
   /* For interactive, active, and selected semantics. Used for text, background, icon or border */
   --color-primary-default: var(--brand-colors-blue-blue300);
   /* For the "hover" state of primary-default elements */
   --color-primary-default-hover: #a8b2ff;
   /* For the "pressed" state of primary-default elements */
   --color-primary-default-pressed: #c7ceff;
   /* For the stronger contrast primary semantic elements */
   --color-primary-alternative: var(--brand-colors-blue-blue200);
   /* For the weakest contrast primary semantic backgrounds */
   --color-primary-muted: var(--brand-colors-blue-blue300-15);
   /* For elements used on top of primary/default. Used for text, icon or border */
   --color-primary-inverse: var(--brand-colors-grey-grey900);

   /* 
   * Error
   */
   /* For the critical alert semantic elements. Used for text, background, icon or border */
   --color-error-default: var(--brand-colors-red-red300);
   /* For the "hover" state of error-default elements */
   --color-error-default-hover: #ff94a0;
   /* For the "pressed" state of error-default elements */
   --color-error-default-pressed: #ffb2bb;
   /* For the stronger contrast error semantic elements */
   --color-error-alternative: var(--brand-colors-red-red200);
   /* For the weakest contrast critical alert semantic backgrounds */
   --color-error-muted: var(--brand-colors-red-red300-15);
   /* For elements used on top of error/default. Used for text, icon or border */
   --color-error-inverse: var(--brand-colors-grey-grey900);

   /* 
   * Warning
   */
   /* For the caution alert semantic elements. Used for text, background, icon or border */
   --color-warning-default: var(--brand-colors-yellow-yellow100);
   /* For the "hover" state of warning-default elements */
   --color-warning-default-hover: #ffe794;
   /* For the "pressed" state of warning-default elements */
   --color-warning-default-pressed: #ffeeb2;
   /* For the weakest contrast caution alert semantic backgrounds */
   --color-warning-muted: var(--brand-colors-yellow-yellow100-15);
   /* For elements used on top of warning/default. Used for text, icon or border */
   --color-warning-inverse: var(--brand-colors-grey-grey900);

   /* 
   * Success
   */
   /* For the positive semantic elements. Used for text, background, icon or border */
   --color-success-default: var(--brand-colors-green-green300);
   /* For the "hover" state of success-default elements */
   --color-success-default-hover: #60bd76;
   /* For the "pressed" state of success-default elements */
   --color-success-default-pressed: #76c688;
   /* For the weakest contrast positive semantic backgrounds */
   --color-success-muted: var(--brand-colors-green-green300-15);
   /* For elements used on top of success/default. Used for text, icon or border */
   --color-success-inverse: var(--brand-colors-grey-grey900);

   /* 
   * Info
   */
   /* For informational read-only elements. Used for text, background, icon or border */
   --color-info-default: var(--brand-colors-blue-blue300);
   /* For the weakest contrast informational semantic backgrounds */
   --color-info-muted: var(--brand-colors-blue-blue300-15);
   /* For elements used on top of info/default. Used for text, icon or border */
   --color-info-inverse: var(--brand-colors-grey-grey900);

   /* 
   * Flask
   */
   /* For Flask primary accent color */
   --color-flask-default: var(--brand-colors-purple-purple300);
   /* For elements used on top of flask/default. Used for text, icon or border */
   --color-flask-inverse: var(--brand-colors-grey-grey900);

   /* 
   * Shadow
   */
   /* For neutral drop shadow color */
   --color-shadow-default: #00000066;
   /* For primary drop shadow color */
   --color-shadow-primary: #8b99ff33;
   /* For critical/danger drop shadow color */
   --color-shadow-error: #ff758433;
 }
 