/*
 * Light Theme Colors
 * Use these css variables in your code.
 * This will insure theme compatibility
 */

:root,
[data-theme='light'] {
  /* Background */
  --color-background-default: var(--brand-colors-white-white000);
  --color-background-default-hover: #fafafa;
  --color-background-default-pressed: #ebebeb;
  --color-background-alternative: var(--brand-colors-grey-grey040);
  --color-background-alternative-hover: #edeff1;
  --color-background-alternative-pressed: #dfe0e2;
  --color-background-hover: #00000005;
  --color-background-pressed: #00000014;
  /* Text */
  --color-text-default: var(--brand-colors-grey-grey800);
  --color-text-alternative: var(--brand-colors-grey-grey600);
  --color-text-muted: var(--brand-colors-grey-grey200);
  /* Icon */
  --color-icon-default: var(--brand-colors-grey-grey800);
  --color-icon-alternative: var(--brand-colors-grey-grey500);
  --color-icon-muted: var(--brand-colors-grey-grey200);
  /* Border */
  --color-border-default: var(--brand-colors-grey-grey200);
  --color-border-muted: var(--brand-colors-grey-grey100);
  /* Overlay */
  --color-overlay-default: #00000099;
  --color-overlay-alternative: #000000cc;
  --color-overlay-inverse: var(--brand-colors-white-white010);
  /* Shadow */
  --color-shadow-default: #0000001a;
  /* Primary */
  --color-primary-default: var(--brand-colors-blue-blue500);
  --color-primary-default-hover: #0379ce;
  --color-primary-default-pressed: #036db9;
  --color-primary-alternative: var(--brand-colors-blue-blue600);
  --color-primary-muted: #0376c919;
  --color-primary-inverse: var(--brand-colors-white-white000);
  --color-primary-disabled: #0376c980;
  --color-primary-shadow: #0376c933;
  /* Secondary */
  --color-secondary-default: var(--brand-colors-orange-orange500);
  --color-secondary-alternative: var(--brand-colors-orange-orange600);
  --color-secondary-muted: #f66a0a19;
  --color-secondary-inverse: var(--brand-colors-white-white000);
  --color-secondary-disabled: #f66a0a80;
  /* Error */
  --color-error-default: var(--brand-colors-red-red500);
  --color-error-default-hover: #cd4250;
  --color-error-default-pressed: #c63441;
  --color-error-alternative: var(--brand-colors-red-red600);
  --color-error-muted: #d7384719;
  --color-error-inverse: var(--brand-colors-white-white000);
  --color-error-disabled: #d7384780;
  --color-error-shadow: #d7384766;
  /* Warning */
  --color-warning-default: var(--brand-colors-orange-orange600);
  --color-warning-default-hover: #c2540a;
  --color-warning-default-pressed: #a24507;
  --color-warning-alternative: var(--brand-colors-yellow-yellow600);
  --color-warning-muted: #bf520819;
  --color-warning-inverse: var(--brand-colors-white-white000);
  --color-warning-disabled: #ffd33d80;
  /* Success */
  --color-success-default: var(--brand-colors-green-green600);
  --color-success-default-hover: #208838;
  --color-success-default-pressed: #1b7431;
  --color-success-alternative: var(--brand-colors-green-green500);
  --color-success-muted: #1c823419;
  --color-success-inverse: var(--brand-colors-white-white000);
  --color-success-disabled: #28a74580;
  /* Info */
  --color-info-default: var(--brand-colors-blue-blue500);
  --color-info-alternative: var(--brand-colors-blue-blue600);
  --color-info-muted: #0376c919;
  --color-info-inverse: var(--brand-colors-white-white000);
  --color-info-disabled: #0376c980;
  /* Networks */
  --color-network-goerli-default: var(--brand-colors-blue-blue400);
  --color-network-goerli-inverse: var(--brand-colors-white-white010);
  --color-network-localhost-default: var(--brand-colors-grey-grey200);
  --color-network-localhost-inverse: var(--brand-colors-white-white010);
  --color-network-sepolia-default: var(--brand-colors-violet-violet300);
  --color-network-sepolia-inverse: var(--brand-colors-white-white010);
  /* Flasks */
  --color-flask-default: var(--brand-colors-purple-purple500);
  --color-flask-inverse: var(--brand-colors-white-white010);

  /* Components */
  /* button */
  --component-button-primary-shadow: var(--shadow-size-sm)
    var(--color-primary-shadow);
  --component-button-danger-shadow: var(--shadow-size-sm)
    var(--color-error-shadow);
}
