/*
 * Light Theme Colors
 * Use these css variables in your code.
 * This will insure theme compatibility
 */

:root,
[data-theme='light'] {
  /* 
  * Background
  */
  /* For default neutral backgrounds */
  --color-background-default: var(--brand-colors-grey-grey000);
  /* For "hover" states that use background-default */
  --color-background-default-hover: #f0f0f0;
  /* For "pressed" states that use background-alternative */
  --color-background-default-pressed: #e0e0e0;
  /* For secondary neutral backgrounds */
  --color-background-alternative: var(--brand-colors-grey-grey050);
  /* For "hover" states that use background-alternative */
  --color-background-alternative-hover: #dde3ee;
  /* For "pressed" states that use background-alternative */
  --color-background-alternative-pressed: #c9d2e4;
  /* For "hover" state that use no background fill */
  --color-background-hover: #0000000f;
  /* For "pressed" state that use no background fill */
  --color-background-pressed: #0000001f;

  /* 
  * Text
  */
  /* For default neutral text */
  --color-text-default: var(--brand-colors-grey-grey900);
  /* For softer contrast neutral text */
  --color-text-alternative: var(--brand-colors-grey-grey500);
  /* For the softest contrast neutral text (not accessible) */
  --color-text-muted: var(--brand-colors-grey-grey300);

  /* 
  * Icon
  */
  /* For default neutral icons */
  --color-icon-default: var(--color-text-default);
  /* For softer neutral icons */
  --color-icon-alternative: var(--color-text-alternative);
  /* For the weakest contrast neutral icons (not accessible) */
  --color-icon-muted: var(--color-text-muted);

  /* 
  * Border
  */
  /* For soft contrast neutral border */
  --color-border-default: var(--brand-colors-grey-grey200);
  /* For the weakest contrast neutral border */
  --color-border-muted: #b7bbc866;

  /* 
  * Overlay
  */
  /* For the default shade of screen */
  --color-overlay-default: #00000066;
  /* For a stronger shade of screen */
  --color-overlay-alternative: #000000cc;

  /* 
  * Primary
  */
  /* For interactive, active, and selected semantics. Used for text, background, icon or border */
  --color-primary-default: var(--brand-colors-blue-blue500);
  /* For the "hover" state of primary-default elements */
  --color-primary-default-hover: #243cff;
  /* For the "pressed" state of primary-default elements */
  --color-primary-default-pressed: #0521ff;
  /* For the stronger contrast primary semantic elements */
  --color-primary-alternative: var(--brand-colors-blue-blue600);
  /* For the weakest contrast primary semantic backgrounds */
  --color-primary-muted: var(--brand-colors-blue-blue500-10);
  /* For elements used on top of primary/default. Used for text, icon or border */
  --color-primary-inverse: var(--brand-colors-grey-grey000);

  /* 
  * Error
  */
  /* For the critical alert semantic elements. Used for text, background, icon or border */
  --color-error-default: var(--brand-colors-red-red500);
  /* For the "hover" state of error-default elements */
  --color-error-default-hover: #b22f3a;
  /* For the "pressed" state of error-default elements */
  --color-error-default-pressed: #9a2832;
  /* For the stronger contrast error semantic elements */
  --color-error-alternative: var(--brand-colors-red-red600);
  /* For the weakest contrast critical alert semantic backgrounds */
  --color-error-muted: var(--brand-colors-red-red500-10);
  /* For elements used on top of error/default. Used for text, icon or border */
  --color-error-inverse: var(--brand-colors-grey-grey000);

  /* 
  * Warning
  */
  /* For the caution alert semantic elements. Used for text, background, icon or border */
  --color-warning-default: var(--brand-colors-yellow-yellow500);
  /* For the "hover" state of warning-default elements */
  --color-warning-default-hover: #7a4f00;
  /* For the "pressed" state of warning-default elements */
  --color-warning-default-pressed: #5c3b00;
  /* For the weakest contrast caution alert semantic backgrounds */
  --color-warning-muted: var(--brand-colors-yellow-yellow500-10);
  /* For elements used on top of warning/default. Used for text, icon or border */
  --color-warning-inverse: var(--brand-colors-grey-grey000);

  /* 
  * Success
  */
  /* For the positive semantic elements. Used for text, background, icon or border */
  --color-success-default: var(--brand-colors-green-green500);
  /* For the "hover" state of success-default elements */
  --color-success-default-hover: #166429;
  /* For the "pressed" state of success-default elements */
  --color-success-default-pressed: #114b1e;
  /* For the weakest contrast positive semantic backgrounds */
  --color-success-muted: var(--brand-colors-green-green500-10);
  /* For elements used on top of success/default. Used for text, icon or border */
  --color-success-inverse: var(--brand-colors-grey-grey000);

  /* 
  * Info
  */
  /* For informational read-only elements. Used for text, background, icon or border */
  --color-info-default: var(--brand-colors-blue-blue500);
  /* For the weakest contrast informational semantic backgrounds */
  --color-info-muted: var(--brand-colors-blue-blue500-10);
  /* For elements used on top of info/default. Used for text, icon or border */
  --color-info-inverse: var(--brand-colors-grey-grey000);

  /* 
  * Flask
  */
  /* For Flask primary accent color */
  --color-flask-default: var(--brand-colors-purple-purple500);
  /* For elements used on top of flask/default. Used for text, icon or border */
  --color-flask-inverse: var(--brand-colors-grey-grey000);

  /* 
  * Shadow
  */
  /* For neutral drop shadow color */
  --color-shadow-default: #0000001a;
  /* For primary drop shadow color */
  --color-shadow-primary: #4459ff33;
  /* For critical/danger drop shadow color */
  --color-shadow-error: #d7384766;
}
