:root,
[data-theme='light'] {
  --color-overlay-inverse: var(--brand-colors-white-white010);
  --color-primary-disabled: #0376c980;
  --color-primary-shadow: #0376c933;
  --color-secondary-default: var(--brand-colors-orange-orange500);
  --color-secondary-alternative: var(--brand-colors-orange-orange600);
  --color-secondary-muted: #f66a0a19;
  --color-secondary-inverse: var(--brand-colors-white-white000);
  --color-secondary-disabled: #f66a0a80;
  --color-error-disabled: #d7384780;
  --color-error-shadow: #d7384766;
  --color-warning-alternative: var(--brand-colors-yellow-yellow600);
  --color-warning-disabled: #ffd33d80;
  --color-success-alternative: var(--brand-colors-green-green500);
  --color-success-disabled: #28a74580;
  --color-info-alternative: var(--brand-colors-blue-blue600);
  --color-info-disabled: #0376c980;
  --color-network-goerli-default: var(--brand-colors-blue-blue400);
  --color-network-goerli-inverse: var(--brand-colors-white-white010);
  --color-network-localhost-default: var(--brand-colors-grey-grey200);
  --color-network-localhost-inverse: var(--brand-colors-white-white010);
  --color-network-sepolia-default: var(--brand-colors-violet-violet300);
  --color-network-sepolia-inverse: var(--brand-colors-white-white010);
  /* Components */
  /* button */
  --component-button-primary-shadow: var(--shadow-size-sm)
    var(--color-primary-shadow);
  --component-button-danger-shadow: var(--shadow-size-sm)
    var(--color-error-shadow);
}
